<mat-card *ngIf="selectedAssignment">
    <mat-card-header>
        <mat-card-title>{{selectedAssignment.nom}}</mat-card-title>
        <mat-card-subtitle>{{selectedAssignment.dateDeRendu}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="selectedAssignment.rendu; else nonsoumis">
            Devoir intitulé {{selectedAssignment.nom}}, a été rendu.
        </p>
        <ng-template #nonsoumis>
            Le devoir {{selectedAssignment.nom}} n'a pas été rendu.
            <br>
            <mat-checkbox [(ngModel)]="selectedAssignment.rendu" color="primary">Rendre</mat-checkbox>
        </ng-template>
        <button mat-flat-button color="accent" (click)="onDeleteAssignment()">Supprimer</button>
    </mat-card-content>
</mat-card>